# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Throttlers (TTL values in milliseconds)
SHORT_THROTTLE_NAME=short
SHORT_THROTTLE_TTL=1000
SHORT_THROTTLE_LIMIT=3

MEDIUM_THROTTLE_NAME=medium
MEDIUM_THROTTLE_TTL=10000
MEDIUM_THROTTLE_LIMIT=20

LONG_THROTTLE_NAME=long
LONG_THROTTLE_TTL=60000
LONG_THROTTLE_LIMIT=100